<section class="container">
	<a href="#"><img src="assets/images/lifeline50-50.png" class="lifeline" alt="points-earned-logo"></a>
	<a href="#"><img src="assets/images/lifeline-audience.png" class="lifeline" alt="points-earned-logo"></a>
	<div class="clear"></div>
	<hr>
	<img src="assets/images/points_display.png" class="points-display" alt="points-earned-logo">
	<hr>
	<div class="clear"></div>
	<section class="caseShow">
		<aside class="welcome-core-pat">
			<p class="welcome-text">WELCOME</p>
			<h2>{{playerName}}</h2>
			<img src="assets/images/Core-Pat-1-small.png" class="Core-Pat-1-small" alt="Core-Pat-1-small-logo">
		</aside>
		<img src="assets/images/Core-Pat-1-watermark.png" class="CorePat-watermark" alt="Core-Pat-1-watermark-logo">
		<aside class="pointTree-core-pat">
			<p class="point-text">POINT TREE</p>
			<dir class="box">
			<ul>
				<li>10. 10,00,000</li>
				<li>9. 9,00,000</li>
				<li>8. 8,00,000</li>
				<li>7. 7,00,000</li>
				<li>6. 6,00,000</li>
				<li>5. 5,00,000</li>
				<li>4. 4,00,000</li>
				<li>3. 3,00,000</li>
				<li>2. 2,00,000</li>
				<li>1. 1,00,000</li>
			</ul>
			</dir>
		</aside>
		<div class="clear"></div>
	</section>
	<section class="question-choices">

	<div class="question">
	<!-- <img src="./assets/images/question-border.png" class="question-display"> -->
	<p>{{myWel[i].Question}}</p>
	</div>
	
	<img src="./assets/images/points_display.png" class="answers-option">
	<img src="./assets/images/points_display.png" class="answers-option">
	<img src="./assets/images/points_display.png" class="answers-option">
	<img src="./assets/images/points_display.png" class="answers-option">
<button  ng-click="lock()">click</button>

	<ul>
	<li>
		
		<span class="answerA">A : {{myWel[i].A}}</span>
		<span class="answerB">B : {{myWel[i].B}}</span>
		<span class="answerC">C : {{myWel[i].C}}</span>
		<span class="answerD">D : {{myWel[i].D}}</span>

	</li>
	</ul> 
	
		</section>
	</section>